# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log

# Temp files
*.tmp

# Build
dist/
build/

# Python packaging
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Environment variables
.env

# YOLO cache
runs/