<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>YOLO 图像识别</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <div class="container">
        <h1>🧠 AI 图像识别</h1>
        <p>上传图片，自动识别其中的内容！</p>

        <form action="/detect" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required />
            <button type="submit">识别图片</button>
        </form>

        {% if result_img %}
            <h2>识别结果：</h2>

            {% if result_summary %}
                <p><strong>识别结果：</strong> {{ result_summary }}</p>
             {% endif %}

            <img src="{{ result_img }}" alt="识别结果图" />
        {% endif %}
    </div>
</body>

</html>